<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountain" src="{{ "/assets/img/광주안전정보_Main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 광주 안전정보 서비스 </h3>
    <ul>
<!--        <li> </li> -->
    </ul>
    <p>광주광역시 범죄 공공데이터를 활용한 광주 안전 정보서비스.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
 <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ 광주안전정보_Map.png" | prepend: site.baseurl }}" />
  </div>
<!--   <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div> --> -->
</div>
